.character-key {
  display: flex;
  gap: 5px;
}

.character-key-img {
  box-sizing: border-box;
  height: 3.5rem;
  width: auto;
  border: 3px solid black;
}

.found {
  box-sizing: border-box;
  height: 3.5rem;
  position: relative;
  width: auto;
  border: 1.75rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
} 

