.timeForm{
  font-family: 'Optima';
  position: fixed;
  top: 30vh;
  left: calc(50vw - 9rem);
  background: white;
  border: 1px solid black;
  width: 18rem;
  height: 13rem;
  padding: .8rem;
  text-align: center;
  border-radius: 20px;
}

.gameOver{
  font-family: 'Optima';
  position: fixed;
  top: 30vh;
  left: calc(50vw - 8rem);
  background: white;
  border: 1px solid black;
  width: 16rem;
  height: 7rem;
  padding: .8rem;
  text-align: center;
  border-radius: 20px;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: .5rem;
}

input {
  margin-top: 0.5rem;
}

.timeInput {
  border: none;
  text-align: center;
}

button {
  width: 9rem;
  margin-top: 1rem;
}