.timeForm{
  position: fixed;
  top: 50vh;
  left: calc(50vw - 8rem);
  background: white;
  border: 1px solid black;
  width: 16rem;
  height: 10rem;
  padding: .8rem;
  text-align: center;
  border-radius: 20px;
}
